.owl-carousel {
}

.owl-nav {
	position: absolute;
	bottom: 40px;
	right: 50px;
  display: flex;
  justify-content: space-between;
	width: 100px;
  height: 15px;
  border: none;
  background: none;
}

.owl-prev {
  background: none;
}

.owl-prev span {
  display: block;
	width: 15px;
  height: 15px;
  //color: $white;
  //border: none;
  border-bottom: 2px solid $grey-nav50;
	border-left: 2px solid $grey-nav50;
  transform: rotate(45deg);
  //background: none;

  &:hover {
    border-color: $gold-indicator;    
  }
}

.owl-next {
  background: none;
}

.owl-next span {
  display: block;
  width: 15px;
  height: 15px;
  font-weight: 300;
  //color: $white;
  //border: none;
	border-bottom: 2px solid $grey-nav50;
  border-right: 2px solid $grey-nav50;
  transform: rotate(-45deg);
  //background: none;

  &:hover {
    border-color: $gold-indicator;    
  }
}

/*.owl-carousel button.owl-dot {
  background-color: $blue-dark;

  &:hover {
    background-color: $gold-indicator;
  }
}*/


.owl-dots {
  position: absolute;
  bottom: 40px;
  right: 400px;
  display: flex;
}

.owl-dot {
  width: 6px;
  height: 6px;
  margin: 0 10px 0 0;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  background-color: $blue-dark;

  &:hover {
    background-color: $gold-indicator;
  }

}

/*.owl-dot span {
    width: 6px;
    height: 6px;
    box-sizing: border-box;
    border-radius: 50%;
    //background-color: $blue-dark;
  }*/